<%- include("partials/header"); -%>

<header>
	<div style="margin: 0 auto;width: 750px;">
		<div class="headings" style="text-align: center;">
			<h1>Uh oh, that page doesn't exist!</h1>
			<a href="#" onclick="window.history.back();" class="btn" style="margin: 30px 0;">Previous Page</a>
		</div>
	</div>
</header>

<%- include("partials/footer"); -%>