<%- include("partials/header"); -%>

<header>
	<div style="margin: 0 auto;width: 750px;">
		<div class="headings" style="float: left;">
			<h2>Lorem Ipsum</h2>
			<h3>Lorem ipsum.</h3>
			<a href="/#" class="btn blue">Lorem</a>
			<a href="/#" class="btn">Ipsum</a>
		</div>
		<div style="float: right;">
			...
		</div>
	</div>
</header>


<%- include("partials/footer"); -%>