<%- include("partials/header"); -%>

<form>
	<h2>Log in</h2>

	<label for="username">Username</label>
	<input type="text" name="username" placeholder="Username (joesmith)" required />
	<div class="username error"></div>

	<label for="password">Password</label>
	<input type="password" name="password" placeholder="Password" required />
	<div class="password error"></div>

	<button class="btn">Log in</button>
</form>

<script>
	const form = document.querySelector("form");
	form.addEventListener("submit", async e => {
		e.preventDefault();

		const usernameError = document.querySelector(".username.error");
		const passwordError = document.querySelector(".password.error");

		// Reset errors
		usernameError.textContent = "";
		passwordError.textContent = "";

		// Get Values
		const username = form.username.value;
		const password = form.password.value;

		try {
			const res = await fetch("/login", {
				method: "POST",
				body: JSON.stringify({ username, password }),
				headers: {
					"Content-Type": "application/json"
				}
			});
			
			const data = await res.json();
			console.log(data);
			
			if(data.errors) {
				data.errors.username && (usernameError.textContent = data.errors.username);
				data.errors.password && (passwordError.textContent = data.errors.password);
			}

			if (data.user) {
				location.assign("/");
			}
		} catch (error) {
			console.log(error);
		}
	});
</script>

<%- include("partials/footer"); -%>